body, html {
	color: #ecfdff;
	font-family: 'Righteous', cursive;
	font-size: 15px;
	height: 100%;
	width: 100%;
	position: relative;
	z-index: 1;
}

/*navbar styling*/
.navbar-dark {
	background-color: transparent;
	color: #ecfdff;
	font-size: 25px;
}

.navbar-brand:hover .overlay {
	width: 200px;
}

.overlay {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
	background-color: transparent;
	overflow: hidden;
	width: 0;
	height: 100%;
	transition: .5s ease;
}

/*color of the bottom navbar links*/
.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link,
.navbar-dark .navbar-text a:focus, .navbar-dark .navbar-text a {
	color: #ecfdff;
}

/*for hovering over navbar links*/
.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-text a:focus, .navbar-dark .navbar-text a:hover,
.navbar-dark .navbar-nav .nav-link.active {
	color: #e25b4b;
}

#bottom-nav {
	background-color: transparent;
	position: -webkit-sticky;
	position: sticky;
	bottom: 0;
}

/*for home page*/
#home {
	background-color: #64778d;
	font-size: 10vh;
	height: 100vh;
	min-height: 350px;
	text-align: left;
	position: relative;
	z-index: -4;
}

#welcome-txt {
	background-color: transparent;
	position: absolute;
	top: 32%;
}

/*computer*/
@media screen and (min-width : 769px) {
	#leo {
		display: block;
		width: 200px;
		height: auto;
	}

	.text {
		font-size: 40px;
		position: absolute;
		overflow: hidden;
		top: 50%;
		left: 55%;
		transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		white-space: nowrap;
	}

	#line1 {
		display: inline-block;
		height: 100%;
		border-top: 10px solid #e25b4b;
		margin: 0;
		position: absolute;
		top: 40%;
		width: 225px;
		z-index: -1;
	}

	#line2 {
		display: inline-block;
		height: 100%;
		border-top: 10px solid #e25b4b;
		margin: 0;
		position: absolute;
		top: 55%;
		width: 360px;
		z-index: -1;
	}

	#arrow {
		background-color: transparent;
		bottom: 20px;
		color: #e25b4b;
		font-size: 230px;
		position: absolute;
		transform: rotate(180deg);
		-webkit-transform: rotate(180deg);
		visibility: hidden;
		margin: 0 auto;
		width: 51.2%;
	}

	#about {
		background-color: #729799;
		min-height: 100%;
		padding: 8% 10px;
		text-align: center;
		z-index: 1;
	}

	#me-pic {
		display: none;
		opacity: 0.9;
		width: 90%;
		height: auto;
	}

	#about-txt {
		background-color: transparent;
		display: none;
		padding: 0;
		margin: 0;
		font-size: 40px;
	}

	#projects-title {
		border: 8px outset #e25b4b;
		display: none;
		font-size: 80px;
		left: 200px;
		overflow: hidden;
		padding: 15px;
		position: fixed;
		text-align: left;
		top: 250px;
		width: auto;
		max-width: 650px;
	}

	#projects-desc {
		display: none;
		font-size: 30px;
		left: 205px;
		overflow: hidden;
		position: fixed;
		text-align: left;
		top: 450px;
		width: 500px;
	}

	#projects-pic {
		display: none;
		left: 850px;
		overflow: hidden;
		position: fixed;
		top: 50%;
		transform: translate(0, -50%);
	}
}

/*mobile*/
@media screen and (max-width: 768px) {
	#leo {
		display: block;
		width: 125px;
		height: auto;
	}

	.text {
		font-size: 30px;
		position: absolute;
		overflow: hidden;
		top: 50%;
		left: 35%;
		transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		white-space: nowrap;
	}

	#line1 {
		display: inline-block;
		height: 100%;
		border-top: 10px solid #e25b4b;
		margin: 0;
		position: absolute;
		top: 40%;
		width: 215px;
		z-index: -1;
	}

	#line2 {
		display: inline-block;
		height: 100%;
		border-top: 10px solid #e25b4b;
		margin: 0;
		position: absolute;
		top: 55%;
		width: 335px;
		z-index: -1;
	}

	#arrow {
		background-color: transparent;
		bottom: 20px;
		color: #e25b4b;
		font-size: 230px;
		position: absolute;
		transform: rotate(180deg);
		-webkit-transform: rotate(180deg);
		visibility: hidden;
		margin: 0 auto;
		width: 80%;
	}

	#about {
		background-color: #729799;
		min-height: 100%;
		padding: 35% 10px;
		text-align: center;
		z-index: 1;
	}

	#me-pic {
		display: none;
		opacity: 0.9;
		width: 85%;
		height: auto;
	}

	#about-txt {
		background-color: transparent;
		display: none;
		padding: 0;
		margin: 0;
		font-size: 20px;
	}

	#projects-title {
		border: 4px outset #e25b4b;
		display: none;
		font-size: 40px;
		left: 20px;
		overflow: hidden;
		padding: 5px;
		position: fixed;
		top: 150px;
	}

	#projects-desc {
		display: none;
		font-size: 20px;
		left: 20px;
		margin-right: 20px;
		overflow: hidden;
		position: fixed;
		text-align: left;
		top: 240px;
	}

	#projects-pic {
		display: none;
		margin: 0;
		overflow: hidden;
		padding: 0;
		position: fixed;
		left: 20px;
		top: 400px;
		width: 90%;
	}
}

#projects {
	background-color: #64778d;
	min-height: 500vh;
	overflow: auto;
	text-align: center;
}

#footer {
	background-color: #565656;
	margin-bottom: 0;
	color: #ffffff;
	display: table;
	min-height: 50px;
	opacity: 0.9;
	overflow: hidden;
	position: relative;
	text-align: center;
	width: 100%;
}

#contact-me {
	padding-top: 20px;
	font-size: 30px;
}

.footer-ul {
	list-style-type: none;
	text-decoration: none;
	padding: 0;
}

.footer-li {
	display: inline-block;
	padding: 10px;
}

#email-icon, #linkedin-icon {
	opacity: 0.9;
	transition: 0.3s;
}

#email-icon:hover, #linkedin-icon:hover {
	opacity: 0.6;
}