body, html {
	background-color: #d6d6d6;
	font-family: 'Montserrat', sans-serif;
	height: 100%;
}

.navbar-dark {
	background-color: #2c2d2c;
}

.navbar-dark .navbar-brand:focus, .navbar-dark .navbar-brand {
	color: #ffffff;
	font-weight: bold;
}

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link,
.navbar-dark .navbar-text a:focus, .navbar-dark .navbar-text a{
	color: #d6d6d6;
}

.navbar-dark .navbar-brand:focus, .navbar-dark .navbar-brand:hover,
.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-text a:focus, .navbar-dark .navbar-text a:hover{
	color: #93ddf0
}

#collapsableNavbar {
	float: right;
}

/*for home page*/
#home {
	background-image: url("img/nyc.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	color: #062c48;
	font-size: 50px;
	height: 100vh;
	min-height: 350px;
	padding-top: 26vh;
	text-align: center;
}

#main-container {
	background-color: #d6d6d6;
	margin-top: 40vh;
	text-align: center;
	width: 100%;
}

#footer {
	background-color: transparent;
	bottom: 0;
	color: #ffffff;
	min-height: 40px;
	opacity: 0.85;
	overflow: hidden;
	position: fixed;
	width: 100%;
}

#footer-ul {
	display: table;
	list-style-type: none;
	margin: 0 40.5%;
	text-decoration: none;
}

#footer-li {
	display: inline-block;
	padding: 15px 15px;
}

#footer-text {
	text-align: center;
}

/*#first-parallax, #second-parallax {
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	color: #062c48;
	font-size: 50px;
	text-align: center;
}

#first-parallax {
	background-image: url("img/nyc.jpg");
	height: 100vh;
	min-height: 350px;
	padding-top: 25vh;
}

#second-parallax {
	background-image: url("img/nyc.jpg");
	height: 100vh;
	min-height: 350px;
}*/
