body {
	background-color: #d6d6d6;
	font: 400 15px/1.8 "Lato", sans-serif;
}

.navbar-dark {
	background-color: #2c2d2c;
}

.navbar-dark .navbar-brand:focus, .navbar-dark .navbar-brand {
	color: #ffffff;
	font-weight: bold;
}

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link,
.navbar-dark .navbar-text a:focus, .navbar-dark .navbar-text a{
	color: #d6d6d6;
}

.navbar-dark .navbar-brand:focus, .navbar-dark .navbar-brand:hover,
.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-text a:focus, .navbar-dark .navbar-text a:hover{
	color: #93ddf0
}

#collapsableNavbar {
	float: right;
}

#typed-text1 {
	background-color: transparent;
	color: #ffffff;
	font-size: 50px;
	position: absolute;
	top: 70px;
	left: 0px;
	max-width: 275px;
	/*For typing effect*/
	overflow: hidden; /* Ensures the content is not revealed until the animation */
	visibility: hidden;
	border-right: 5px solid transparent; /* The typwriter cursor */
	white-space: nowrap; /* Keeps the content on a single line */
	margin: 0 auto; /* Gives that scrolling effect as the typing happens */
	letter-spacing: .15em; /* Adjust as needed */
	animation: typing 2.5s steps(45, end), blink-caret .75s step-end;
	-webkit-animation: typing 2.5s steps(45, end), blink-caret .75s step-end;
	-moz-animation: typing 2.5s steps(45, end), blink-caret .75s step-end;
	-ms-animation: typing 2.5s steps(45, end), blink-caret .75s step-end;
	-o-animation: typing 2.5s steps(45, end), blink-caret .75s step-end;
}

#typed-text2 {
	background-color: transparent;
	color: #ffffff;
	font-size: 50px;
	position: absolute;
	top: 160px;
	left: 0px;
	max-width: 180px;
	/*For typing effect*/
	overflow: hidden; /* Ensures the content is not revealed until the animation */
	visibility: hidden;
	border-right: 5px solid transparent; /* The typwriter cursor */
	white-space: nowrap; /* Keeps the content on a single line */
	margin: 0 auto; /* Gives that scrolling effect as the typing happens */
	letter-spacing: .15em; /* Adjust as needed */
	animation: typing 2.5s steps(45, end), blink-caret .75s step-end;
	-webkit-animation: typing 2.5s steps(45, end), blink-caret .75s step-end;
	-moz-animation: typing 2.5s steps(45, end), blink-caret .75s step-end;
	-ms-animation: typing 2.5s steps(45, end), blink-caret .75s step-end;
	-o-animation: typing 2.5s steps(45, end), blink-caret .75s step-end;
	animation-delay: 1.5s;
	-webkit-animation-delay: 1.5s;
	-moz-animation-delay: 1.5s;
	-ms-animation-delay: 1.5s;
	-o-animation-delay: 1.5s;
}

#typed-text3 {
	background-color: transparent;
	color: #ffffff;
	font-size: 50px;
	position: absolute;
	top: 250px;
	left: 0px;
	max-width: 255px;
	/*For typing effect*/
	overflow: hidden; /* Ensures the content is not revealed until the animation */
	visibility: hidden;
	border-right: 5px solid transparent; /* The typwriter cursor */
	white-space: nowrap; /* Keeps the content on a single line */
	margin: 0 auto; /* Gives that scrolling effect as the typing happens */
	letter-spacing: .15em; /* Adjust as needed */
	-webkit-animation: typing 2.5s steps(45, end), blink-caret .75s step-end;
	-moz-animation: typing 2.5s steps(45, end), blink-caret .75s step-end;
	-ms-animation: typing 2.5s steps(45, end), blink-caret .75s step-end;
	-o-animation: typing 2.5s steps(45, end), blink-caret .75s step-end;
	animation-delay: 3s;
	-webkit-animation-delay: 3s;
	-moz-animation-delay: 3s;
	-ms-animation-delay: 3s;
	-o-animation-delay: 3s;
}

#welcome-text1 {
	background-color: transparent;
	color: #ffffff;
	font-size: 50px;
	position: absolute;
	top: 70px;
	left: 0px;
	max-width: 275px;
	visibility: visible;
	letter-spacing: .15em; /* Adjust as needed */
	animation: hide 2.5s;
	-webkit-animation: hide 2.5s;
	-moz-animation: hide 2.5s;
	-ms-animation: hide 2.5s;
	-o-animation: hide 2.5s;
}

#welcome-text2 {
	background-color: transparent;
	color: #ffffff;
	font-size: 50px;
	position: absolute;
	top: 160px;
	left: 0px;
	max-width: 185px;
	visibility: visible;
	white-space: nowrap; /* Keeps the content on a single line */
	letter-spacing: .15em; /* Adjust as needed */
	animation: hide 3s;
	-webkit-animation: hide 3s;
	-moz-animation: hide 3s;
	-ms-animation: hide 3s;
	-o-animation: hide 3s;
}

#welcome-text3 {
	background-color: transparent;
	color: #ffffff;
	font-size: 50px;
	position: absolute;
	top: 250px;
	left: 0px;
	max-width: 255px;
	visibility: visible;
	white-space: nowrap; /* Keeps the content on a single line */
	letter-spacing: .15em; /* Adjust as needed */
	animation: hide 3.5s;
	-webkit-animation: hide 3.5s;
	-moz-animation: hide 3.5s;
	-ms-animation: hide 3.5s;
	-o-animation: hide 3.5s;
}

/*Typing effect */
@keyframes typing {
	0% {
		visibility: visible;
	}

	from {
		width: 0;
	}

	to {
		width: 100%;
	}
}

@-webkit-keyframes typing {
	0% {
		visibility: visible;
	}

	from {
		width: 0;
	}

	to {
		width: 100%;
	}
}

@-moz-keyframes typing {
	0% {
		visibility: visible;
	}

	from {
		width: 0;
	}

	to {
		width: 100%;
	}
}

@-ms-keyframes typing {
	0% {
		visibility: visible;
	}

	from {
		width: 0;
	}

	to {
		width: 100%;
	}
}

@-o-keyframes typing {
	0% {
		visibility: visible;
	}

	from {
		width: 0;
	}

	to {
		width: 100%;
	}
}

/*Blinking cursor effect */
@keyframes blink-caret {
	from, to {
		border-color: transparent;
	}

	50% {
		border-color: #f9f9f9;
	}
}

@-webkit-keyframes blink-caret {
	from, to {
		border-color: transparent;
	}

	50% {
		border-color: #f9f9f9;
	}
}

@-moz-keyframes blink-caret {
	from, to {
		border-color: transparent;
	}

	50% {
		border-color: #f9f9f9;
	}
}

@-ms-keyframes blink-caret {
	from, to {
		border-color: transparent;
	}

	50% {
		border-color: #f9f9f9;
	}
}

@-o-keyframes blink-caret {
	from, to {
		border-color: transparent;
	}

	50% {
		border-color: #f9f9f9;
	}
}

/*Hides visible words while typing is animated*/
@keyframes hide {
	from, to {
		visibility: hidden;
	}
	
}

@-webkit-keyframes hide {
	from, to {
		visibility: hidden;
	}
}

@-moz-keyframes hide {
	from, to {
		visibility: hidden;
	}
}

@-ms-keyframes hide {
	from, to {
		visibility: hidden;
	}
}

@-o-keyframes hide {
	from, to {
		visibility: hidden;
	}
}

/*Turn off parallax for tablets and phones*/
@media only screen and (max-device-width: 1366px) {
	.parallax {
		background-attachment: scroll;
	}
}

#quote {
	background-color: #062c48;
}

.blockquote {
	color: #ffffff;
	padding: 60px;
	text-align: center;
}

.blockquote-footer {
	color: #f3f3f3;
}

#first-parallax, #second-parallax {
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#first-parallax {
	background-image: url("nyc.jpg");
	height: 100vh;
	min-height: 350px;
}

#second-parallax {
	background-image: url("nyc.jpg");
	height: 100vh;
	min-height: 350px;
}

#main-container {
	background-color: darkslategray;
	margin-top: 55px;
	width: 100%;
}
