body, html {
	background-color: #d6d6d6;
	font-family: 'Montserrat', sans-serif;
	height: 100%;
}

.navbar-dark {
	background-color: transparent;
	background-image: linear-gradient(rgba(0,0,0,0.2), transparent);
	color: #062c48;
	font-size: 20px;
}

.navbar-dark .navbar-brand:focus, .navbar-dark .navbar-brand {
	color: #062c48;
	font-size: 25px;
	font-weight: bold;
}

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link,
.navbar-dark .navbar-text a:focus, .navbar-dark .navbar-text a{
	color: #d6d6d6;
}

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link, 
.navbar-dark .navbar-text a:focus, .navbar-dark .navbar-text a {
    color: #062c48;
}
.navbar-dark .navbar-brand:focus, .navbar-dark .navbar-brand:hover,
.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-text a:focus, .navbar-dark .navbar-text a:hover{
	color: #0077c0;
}

.navbar-dark .navbar-toggler-icon {
	background-image: url("/img/toggle.png");
}

.navbar-dark .navbar-toggler {
	border-color: transparent;
}

#collapsableNavbar {
	float: right;
}

/*under construction page*/
#construction {
	background-color: #ffffff;
	height: 100vh;
	width: 100%;
}

#construct-gif {
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-top: 27vh;
	width: 300px;
}

/*for home page*/
#home {
	background-image: url("img/nyc.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	color: #062c48;
	font-size: 50px;
	height: 100vh;
	min-height: 350px;
	padding-top: 17%;
	text-align: center;
}

#welcome-txt {
	background-color: transparent;
	margin: auto;
}

#footer {
	background-color: transparent;
	bottom: 0;
	color: #ffffff;
	display: table;
	min-height: 50px;
	opacity: 0.9;
	overflow: hidden;
	position: fixed;
	text-align: center;
	width: 100%;
}

#footer-ul {
	list-style-type: none;
	text-decoration: none;
	padding: 0;
}

#footer-li {
	display: inline-block;
	padding: 10px;
}

/*#first-parallax, #second-parallax {
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	color: #062c48;
	font-size: 50px;
	text-align: center;
}

#first-parallax {
	background-image: url("img/nyc.jpg");
	height: 100vh;
	min-height: 350px;
	padding-top: 25vh;
}

#second-parallax {
	background-image: url("img/nyc.jpg");
	height: 100vh;
	min-height: 350px;
}*/
