body {
	height: 1500px;
	background-color:white;
}

/*.navbar {
	background-color: black;
	height: 80px;
	overflow: hidden;
	position: fixed;
	top: 0px;
	width: 100%;
}

.navbar a {
	color: white;
	float: right;
	font-size: 15px;
	display: block;
	margin: 28px;
	text-align: center;
	text-decoration: none;
}

.navbar a:first-child {
	float: left;
	font-size: 40px;
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 20px;
}

.navbar a:hover {
	color: darkseagreen;
	text-decoration: none;
}*/

#main-container {
	background-color: darkgray;
	height: 100px;
	overflow: hidden;
	width: 100%;
}
