body {
	height: 1500px;
	background-color:white;
}

.navbar-dark {
	background-color: #2c2d2c;
}

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link,
.navbar-dark .navbar-text a:focus, .navbar-dark .navbar-text a{
	color: #d6d6d6;
}

.navbar-dark .navbar-brand:focus, .navbar-dark .navbar-brand:hover,
.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-text a:focus, .navbar-dark .navbar-text a:hover{
	color: #98d686
}

#collapsableNavbar {
	float: right;
}

#home-parallax {
	background-attachment: fixed;
	background-image: url("nycBackground.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	margin-top: 55px;
	min-height: 800px;
	width: 100%;
}

#welcome-text {
	background-color: unset;
	color: #f9f9f9;
	font-size: 50px;
	margin-top: 0px;
	margin-left: 100px;
	position: absolute;
	top: 10%;
	left: -5%
}

#main-container {
	background-color: antiquewhite;
	margin-top: 55px;
	width: 100%;
}

	
