body, html {
	background-color: #d6d6d6;
	font-family: 'Montserrat', sans-serif;
	height: 100%;
}

.navbar-dark {
	background-color: #2c2d2c;
}

.navbar-dark .navbar-brand:focus, .navbar-dark .navbar-brand {
	color: #ffffff;
	font-weight: bold;
}

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link,
.navbar-dark .navbar-text a:focus, .navbar-dark .navbar-text a{
	color: #d6d6d6;
}

.navbar-dark .navbar-brand:focus, .navbar-dark .navbar-brand:hover,
.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-text a:focus, .navbar-dark .navbar-text a:hover{
	color: #93ddf0
}

#collapsableNavbar {
	float: right;
}

/*Turn off parallax for tablets and phones*/
@media only screen and (max-device-width: 1366px) {
	.parallax {
		background-attachment: scroll;
	}
}

#first-parallax, #second-parallax {
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	color: #062c48;
	font-size: 50px;
	text-align: center;
}

#first-parallax {
	background-image: url("img/nyc.jpg");
	height: 100vh;
	min-height: 350px;
	padding-top: 35vh;
}

#second-parallax {
	background-image: url("img/nyc.jpg");
	height: 100vh;
	min-height: 350px;
}

#main-container {
	background-color: darkslategray;
	margin-top: 55px;
	width: 100%;
}

#quote {
	background-color: #062c48;
}

.blockquote {
	color: #ffffff;
	padding: 60px;
	text-align: center;
}

.blockquote-footer {
	color: #f3f3f3;
}
