body {
	height: 1500px;
	background-color:white;
}

.navbar-dark {
	background-color: #2c2d2c;
}

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link,
.navbar-dark .navbar-text a:focus, .navbar-dark .navbar-text a{
	color: #d6d6d6;
}

.navbar-dark .navbar-brand:focus, .navbar-dark .navbar-brand:hover,
.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-text a:focus, .navbar-dark .navbar-text a:hover{
	color: #98d686
}

#collapsableNavbar {
	float: right;
}

#home-parallax {
	background-attachment: fixed;
	background-image: url("nycBackground.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	margin-top: 55px;
	min-height: 800px;
	width: 100%;
}

#welcome-text1 {
	background-color: transparent;
	color: #f9f9f9;
	font-size: 50px;
	position: absolute;
	top: 60px;
	left: 0px;
	max-width: 290px;
	/*For typing effect*/
	overflow: hidden; /* Ensures the content is not revealed until the animation */
	visibility: hidden;
	border-right: 5px solid transparent; /* The typwriter cursor */
	white-space: nowrap; /* Keeps the content on a single line */
	margin: 0 auto; /* Gives that scrolling effect as the typing happens */
	letter-spacing: .15em; /* Adjust as needed */
	animation: typing 3.2s steps(45, end), blink-caret .75s step-end infinite;
}

#welcome-text2 {
	background-color: transparent;
	color: #f9f9f9;
	font-size: 50px;
	position: absolute;
	top: 120px;
	left: 0px;
	max-width: 610px;
	/*For typing effect*/
	overflow: hidden; /* Ensures the content is not revealed until the animation */
	visibility: hidden;
	border-right: 5px solid transparent; /* The typwriter cursor */
	white-space: nowrap; /* Keeps the content on a single line */
	margin: 0 auto; /* Gives that scrolling effect as the typing happens */
	letter-spacing: .15em; /* Adjust as needed */
	animation: typing 4.5s steps(45, end), blink-caret .75s step-end infinite;
	animation-delay: 3.3s;
}

#welcome-text3 {
	background-color: transparent;
	color: #f9f9f9;
	font-size: 50px;
	position: absolute;
	top: 60px;
	left: 0px;
	max-width: 290px;
	visibility: visible;
	letter-spacing: .15em; /* Adjust as needed */
	animation: hide 2.5s;
}

#welcome-text4 {
	background-color: transparent;
	color: #f9f9f9;
	font-size: 50px;
	position: absolute;
	top: 120px;
	left: 0px;
	max-width: 610px;
	visibility: visible;
	white-space: nowrap; /* Keeps the content on a single line */
	letter-spacing: .15em; /* Adjust as needed */
	animation: hide 7s;
}

/* The typing effect */
@keyframes typing {
	0% {
		visibility: visible;
	}

	from {
		width: 0;
	}

	to {
		width: 100%;
	}
}

/* The typewriter cursor effect */
@keyframes blink-caret {
	from, to {
		border-color: transparent;
	}

	50% {
		border-color: #f9f9f9;
	}
}

@keyframes hide {
	from, to {
		visibility: hidden;
	}
	
}


#main-container {
	background-color: antiquewhite;
	margin-top: 55px;
	width: 100%;
}

