body, html {
	background-color: #729799;
	color: #ecfdff;
	font-family: 'Righteous', cursive;
	font-size: 15px;
	height: 100%;
	margin: 0;
	width: 100%;
	position: relative;
	z-index: 1;
}

/*navbar styling*/
.navbar-dark {
	background-color: transparent;
	color: #ecfdff;
	font-size: 25px;
}

.navbar-brand:hover .overlay {
	width: 200px;
}

.overlay {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
	background-color: transparent;
	overflow: hidden;
	width: 0;
	height: 100%;
	transition: .5s ease;
}

/*color of the bottom navbar links*/
.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link,
.navbar-dark .navbar-text a:focus, .navbar-dark .navbar-text a {
	color: #ecfdff;
}

/*for hovering over navbar links*/
.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-text a:focus, .navbar-dark .navbar-text a:hover,
.navbar-dark .navbar-nav .nav-link.active {
	color: #e25b4b;
}

#bottom-nav {
	background-color: transparent;
	position: -webkit-sticky;
	position: sticky;
	bottom: 0;
}

/*for home page*/
#home {
	background-color: #64778d;
	font-size: 10vh;
	height: 100vh;
	min-height: 350px;
	text-align: left;
	position: relative;
	z-index: -4;
}

#welcome-txt {
	background-color: transparent;
	position: absolute;
	top: 32%;
}

/*computer*/
@media screen and (min-width : 769px) {
	#leo {
		display: block;
		width: 200px;
		height: auto;
	}

	.text {
		font-size: 40px;
		position: absolute;
		overflow: hidden;
		top: 50%;
		left: 55%;
		transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		white-space: nowrap;
	}

	#line1 {
		display: inline-block;
		height: 100%;
		border-top: 10px solid #e25b4b;
		margin: 0;
		position: absolute;
		top: 40%;
		width: 225px;
		z-index: -1;
	}

	#line2 {
		display: inline-block;
		height: 100%;
		border-top: 10px solid #e25b4b;
		margin: 0;
		position: absolute;
		top: 55%;
		width: 360px;
		z-index: -1;
	}

	#arrow {
		background-color: transparent;
		bottom: 20px;
		color: #e25b4b;
		font-size: 230px;
		position: absolute;
		transform: rotate(180deg);
		-webkit-transform: rotate(180deg);
		visibility: hidden;
		margin: 0 auto;
		width: 51.2%;
	}

	#about {
		background-color: #729799;
		height: 95%;
		padding: 5% 10px;
		text-align: center;
		z-index: 1;
	}

	#me-pic {
		display: none;
		opacity: 0.9;
		width: 80%;
		height: auto;
	}

	#about-txt {
		background-color: transparent;
		display: none;
		padding: 0;
		margin: 0;
		font-size: 40px;
	}

	#projects {
		background-color: #729799;
		min-height: 500vh;
		padding-left: 0;
		padding-right: 0;
	}

	#project-break {
		text-align: right;
		padding-top: 40vh;
		padding-bottom: 50vh;
	}

	.project-wrapper {
		margin: 0 auto;
		position: relative;
		width: 100%;
		height: 100vh;
	}

	.project-img {
		border: 8px outset #e25b4b;
		display: block;
		margin: 0 auto;
		width: auto;
		height: 300px;
		z-index: 999;
	}

	.project-title {
		font-size: 50px;
	}

	.project-desc {
		font-size: 25px;
		padding: 10%;
	}

	.project-title-overlay {
		margin-top: -6vh;
		top: 0;
	}

	.project-desc-overlay {
		margin-top: 6vh;
		top: 0;
	}
}

/*mobile*/
@media screen and (max-width: 768px) {
	#leo {
		display: block;
		width: 125px;
		height: auto;
	}

	.text {
		font-size: 30px;
		position: absolute;
		overflow: hidden;
		top: 50%;
		left: 35%;
		transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		white-space: nowrap;
	}

	#line1 {
		display: inline-block;
		height: 100%;
		border-top: 10px solid #e25b4b;
		margin: 0;
		position: absolute;
		top: 40%;
		width: 215px;
		z-index: -1;
	}

	#line2 {
		display: inline-block;
		height: 100%;
		border-top: 10px solid #e25b4b;
		margin: 0;
		position: absolute;
		top: 55%;
		width: 335px;
		z-index: -1;
	}

	#arrow {
		background-color: transparent;
		bottom: 20px;
		color: #e25b4b;
		font-size: 230px;
		position: absolute;
		transform: rotate(180deg);
		-webkit-transform: rotate(180deg);
		visibility: hidden;
		margin: 0 auto;
		width: 80%;
	}

	#about {
		background-color: #729799;
		height: 90%;
		padding: 10vh 10px 0 10px;
		text-align: center;
		z-index: 1;
	}

	#me-pic {
		display: none;
		opacity: 0.9;
		width: 85%;
		height: auto;
	}

	#about-txt {
		background-color: transparent;
		display: none;
		padding: 0;
		margin: 0;
		font-size: 20px;
	}

	#project-break {
		text-align: center;
		padding-bottom: 100px;
	}

	#projects {
		background-color: #729799;
		min-height: 300vh;
		padding-left: 0;
		padding-right: 0;
	}

	.project-wrapper {
		margin: 0 auto;
		position: relative;
		width: 80%;
		height: 90vh;
	}

	.project-img {
		border: 8px outset #e25b4b;
		display: block;
		margin: 0 auto;
		width: auto;
		height: 140px;
	}

	.project-title {
		font-size: 30px;
	}

	.project-desc {
		font-size: 15px;
		padding: 0;
	}

	.project-title-overlay {
		margin-top: -20vh;
		top: 0;
	}

	.project-desc-overlay {
		margin-top: -7vh;
		top: 0;
	}
	
	#trip-planner-img {
		height: 220px;
	}

	#trip-planner-title {
		margin-top: -5vh;
		top: 0;
	}

	#trip-planner-desc {
		margin-top: 10vh;
		top: 0;
	}
}

/*to divide about me and projects page*/
#project-break {
	background-color: #729799;
	height: 110vh;
	position: relative;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

/*row and box to creaete divider*/
.row {
	display: table;
	width: 100%; 
}

.box {
	background-color: #e25b4b;
	float: left;
	margin-left: 0.1%;
	margin-right: 0.1%;
	width: 9.8%;
}

/*header for all projects in divider*/
#project-header {
	display: none;
	font-size: 10vh;
	position: absolute;
	width: auto;
	padding: 80px 15px 100px 0;
}

/*Titles of the project slide from the right*/
.project-title {
	position: absolute;
	overflow: visible;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	width: 100%;
	text-align: center;
	font-weight: bold;
	white-space: normal;
}

/*Slide in from the right when hovered over*/
.project-wrapper:hover .project-title-overlay {
	width: 100%;
	left: 0;
}

/*Overlay for the title of the project*/
.project-title-overlay {
	background-color: transparent;
	position: absolute;
	left: 100%;
	right: 0;
	overflow: hidden;
	width: 0;
	height: 100%;
	transition: .5s ease;
}

/*Descriptions of the project slide from the left*/
.project-desc {
	position: absolute;
	overflow: hidden;
	top: 50%;
	left: 50%;
	text-align: center;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	width: 100%;
}

/*Slide in from the left when hovered over*/
.project-wrapper:hover .project-desc-overlay {
	width: 100%;
	height: 100%;
}

/*Overlay for the project descriptions*/
.project-desc-overlay {
	background-color: transparent;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;
	width: 0;
	height: 0;
	transition: .5s ease;
	z-index: 0;
}


#footer {
	background-color: #565656;
	margin-bottom: 0;
	color: #ffffff;
	display: table;
	min-height: 50px;
	opacity: 0.9;
	overflow: hidden;
	position: relative;
	text-align: center;
	width: 100%;
}

#contact-me {
	padding-top: 20px;
	font-size: 30px;
}

.footer-ul {
	list-style-type: none;
	text-decoration: none;
	padding: 0;
}

.footer-li {
	display: inline-block;
	padding: 10px;
}

#email-icon, #linkedin-icon {
	opacity: 0.9;
	transition: 0.3s;
}

#email-icon:hover, #linkedin-icon:hover {
	opacity: 0.6;
}